.Donate_Card{
    border:none;
    border-radius: 10px;
    padding:20px 20px;
    background-color:rgba(17,3,3,0.66) ;
    width:40%;
    transform:translate(2%,8%);
}
.Donate_Card h1{
    color:white;
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.Donate_Card p{
    color:white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:20px 20px;
}
.Donate_Card img{
    transform:translate(80%,0%);
    border-radius:10px;
}
.Donate_Card button{
    transform:translate(270%,-0%);
  border:none;
  width:100px;
  height:40px;
  background:#6abbe0;
  border-radius:10px;
  font-size:15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
   font-weight: 100;
   cursor:pointer;
   outline:none;
}
.Donate_Card button:hover{
    border-color:#2691d9;
    transition:0.5s;
    opacity: 0.8;

}