

.H_Page{
    margin:0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:transparent;
    height:100%;
    

}
.Card{
    border:none;
    border-radius: 10px;
    padding:20px 20px;
    background-color:rgba(17,3,3,0.66) ;
    width:70%;
    transform:translate(2%,8%);
}
.Card h1{
    color:white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Card p{
    color:white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:20px 20px;
}
.Card img{
    transform:translate(190%,0%);
    border-radius:10px;
}
.Card button{
    transform:translate(-60%,-300%);
  border:none;
  width:600px;
  height:50px;
  background:#6abbe0;
  border-radius:20px;
  font-size:20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
   font-weight: 100;
   cursor:pointer;
   outline:none;
}
.Card button:hover{
    border-color:#2691d9;
    transition:0.5s;
    opacity: 0.8;

}
.Card2{
    border:none;
    border-radius: 10px;
    padding:20px 20px;
    background-color:rgba(17,3,3,0.66) ;
    width:70%;
    transform:translate(36%,30%);
}
.Card2 h1{
    color:white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Card2 p{
    color:white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:20px 20px;
}
.Card2 img{
    transform:translate(190%,0%);
    border-radius:10px;
}
.Card2 button{
    transform:translate(-60%,-300%);
    border:none;
    width:600px;
    height:50px;
    background:#6abbe0;
    border-radius:20px;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
     font-weight: 100;
     cursor:pointer;
     outline:none;
}

.Card2 button:hover{
    border-color:#2691d9;
    transition:0.5s;
    opacity: 0.8;
}

.Card3{
    border:none;
    border-radius: 10px;
    padding:20px 20px;
    background-color:rgba(17,3,3,0.66) ;
    width:70%;
    transform:translate(2%,70%);
}
.Card3 h1{
    color:white;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Card3 p{
    color:white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:20px 20px;
    text-align: center;
}
.Card3 img{
    padding:20px 20px;
    border-radius:40px;
}
.Card3 img:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}
.Images{
    transform: translate(10%,-0%);

}

