.Fund_page{
    border:none;
    border-radius: 10px;
    padding:20px 20px;
    background-color:rgba(17,3,3,0.66) ;
    width:70%;
    transform:translate(18%,20%);
}
.Fund_page h1{
    color:white;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Fund_page p{
    color:white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:20px 20px;
    text-align: center;
}
.Fund_page img{
    padding:20px 20px;
    border-radius:40px;
}
.Fund_page img:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}
.Fund_Images{
    transform: translate(10%,0%);

}